charset_normalizer==3.4.7
docx==0.2.4
faiss-cpu==1.13.2
fitz==0.0.1.dev2
Flask==2.2.3
numpy==1.26.4
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
opencv_python_headless==4.12.0.88
pandas==2.3.3
Pillow==9.0.1
Pillow==12.2.0
PyPDF2==3.0.1
pytesseract==0.3.13
python_docx==1.2.0
rank_bm25==0.2.2
rapidfuzz==3.14.5
scikit_learn==1.8.0
sentence_transformers==5.5.1
tqdm==4.67.3
